<% include partials/_headermenu %>
<div class="container">
<div class="row">
    <!--FORM-->
    <div class="col-md-3.5 offset-md-3" >
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <a href="/solicitudservicio" class="btn btn-info">
              SOLICITAR SERVICIO SOCIAL
            </a>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-3 offset-md-6">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <a href="/avanceservicio" class="btn btn-info">
              AVANCE SERVICIO SOCIAL
            </a>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-3.5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <a href="/cambiopass" class="btn btn-info">
              CAMBIO DE CONTRASEÑA
            </a>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-2.5 offset-md-6">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <a href="/cerrarsesion" class="btn btn-info">
              CERRAR SESION
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>